.parcel-cache
node_modules
dist
.env
.vscode
.DS_Store
*.log
*.lock
*.swp
.idea
*.iml
*.sublime-workspace
*.sublime-project
*.code-workspace
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.pyc
*.pyo
*.exe
*.dll
*.so