.header{
    display: flex;  
    justify-content: space-between;  
    border: 1px solid black;
}

.logo{
    width: 150px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;    
}

.res-card{    
    margin: 5px;
    width: 200px;
    height: 300px;
    
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}   

.search{
    padding: 10px;
    margin: 10px;
}

.res-logo{
    padding:5px;
    width:190px;
    height: 150px;
}

.res-card:hover {
border: 1px solid black;
cursor: pointer;
}

.filter-btn{
    margin: 10px;
    padding: 10px;
    background-color: #f0c040;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.filter-btn:hover{
    background-color: #e6b030;
}

.shimmer-card{
    width: 200px;
    height: 400px;
    background-color: grey;

}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.login-btn{
    padding: 0 20px;
    cursor: pointer;
}

.filter{
    display: flex;
    justify-content: space-between;
}